In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('../data/Suicide_Rates_Overview.csv')
data = data.drop(['country-year','HDI for year'],axis=1)

In [3]:
suic_sum = pd.DataFrame(data['suicides_no'].groupby(data['country']).sum())

In [4]:
suic_sum

                      suicides_no
country
Albania                      1970
Antigua and Barbuda            11
Argentina                   82219
Armenia                      1905
Aruba                         101
...                           ...
United Arab Emirates          622
United Kingdom             136805
United States             1034013
Uruguay                     13138
Uzbekistan                  34803

[101 rows x 1 columns]